In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

https codes: 200 mtlb executed , 404 : not available , 500 : server down .

In [4]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
temp_df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,206.675,8.700,26972
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,219.546,8.691,20484
2,1184918,The Wild Robot,"After a shipwreck, an intelligent robot called...",2024-09-12,6482.313,8.600,851
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,106.094,8.575,12355
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,78.017,8.565,15765
5,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,51.467,8.545,8575
6,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,108.545,8.538,16404
7,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,43.755,8.500,4430
8,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,172.054,8.515,32720
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,109.595,8.506,18126
10,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,99.963,8.507,17310
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,90.397,8.488,27762
12,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,98.748,8.485,11295
13,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,193.908,8.483,24055
14,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,90.809,8.472,27289
15,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,95.361,8.462,8546
16,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,58.570,8.500,12780
17,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,60.830,8.460,3642
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.053,8.456,5482
19,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,32.913,8.400,4336

In [34]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.433,8.7,2763
1,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,8.439,8.7,1223
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,65.570,8.7,18637
3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,63.277,8.7,14052
4,761053,Gabriel's Inferno Part III,The final part of the film adaption of the ero...,2020-11-19,26.691,8.7,773

In [5]:
df = pd.DataFrame()

In [6]:
df

Empty DataFrame
Columns: []
Index: []

In [7]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [8]:
import requests
import pandas as pd

# Initialize an empty list to store DataFrames
df_list = []

for i in range(1, 429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    
    # Add each temp_df to the list
    df_list.append(temp_df)

# Concatenate all DataFrames at once
df = pd.concat(df_list, ignore_index=True)

# Show the final DataFrame

        id                     title  \
0      278  The Shawshank Redemption
1      238             The Godfather
2  1184918            The Wild Robot
3      240     The Godfather Part II
4      424          Schindler's List

                                            overview release_date  popularity  \
0  Imprisoned in the 1940s for the double murder ...   1994-09-23     206.675
1  Spanning the years 1945 to 1955, a chronicle o...   1972-03-14     219.546
2  After a shipwreck, an intelligent robot called...   2024-09-12    6482.313
3  In the continuing saga of the Corleone crime f...   1974-12-20     106.094
4  The true story of how businessman Oskar Schind...   1993-12-15      78.017

   vote_average  vote_count
0         8.700       26972
1         8.691       20484
2         8.600         851
3         8.575       12355
4         8.565       15765

In [9]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,206.675,8.700,26972
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,219.546,8.691,20484
2,1184918,The Wild Robot,"After a shipwreck, an intelligent robot called...",2024-09-12,6482.313,8.600,851
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,106.094,8.575,12355
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,78.017,8.565,15765
...,...,...,...,...,...,...,...
8555,10771,The Tuxedo,Cabbie-turned-chauffeur Jimmy Tong learns ther...,2002-09-27,25.080,5.718,1927
8556,8920,Garfield,"Garfield, the fat, lazy, lasagna lover, has ev...",2004-06-10,67.657,5.718,3962
8557,718840,A Nice Girl Like You,Lucy Neal is thrown for a loop when she is acc...,2020-07-18,13.390,5.730,333
8558,304372,The Perfect Guy,With a fulfilling career and a loving relation...,2015-09-11,7.884,5.700,317
8559,3513,Legionnaire,Alain Lefevre is a boxer paid by a Marseille m...,1998-12-03,14.897,5.715,533

In [22]:
df.shape

(8551, 7)

In [23]:
df.to_csv('movies.csv')